/* div for the map */

#mapid { 
    height: 400px;
    width: 50%;
    border: 3px solid black;
    padding: 10px;
    float: left;
 }

 /* All information divs positioning */

#mapinfo {
    float: right;
}

/* All input customisations */

 #Input {
     margin-right: right 20px;
     border: 3px solid black;
     padding: 10px;
     width: 90%;
 }

 /* Body customisations */

 body{
    background-color: aquamarine;
    background-image: url("https://www.backpackingmatt.com/wp-content/uploads/2012/03/415054_10100630816844929_14801685_54271217_1966282812_o-1.jpg");
 }

 /* All Recent Searches customisations */

 #searchItems{
     border: 3px solid black;
     padding: 10px;
     width: 90%;
 }

 /* All Sun set and Sun rise customisations */

 #riseset{
    border: 3px solid black;
    padding: 10px;
    width: 90%;
}

/* All Weather div customisations */

#weather, #weather1{
     border: 3px solid black;
     padding: 10px;
     width: 90%;
}